
body, h1, h2, h3, p, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
}


.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

header, footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

.main-content {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-content > div {
    background-color: #f0f8ff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: calc(33% - 20px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.main-content > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.main-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.main-content p {
    margin: 10px 0;
    font-size: 14px;
}

.main-content li {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
}

.sidebar {
    flex: 1;
    background-color: #e3f2fd;
    padding: 20px;
}

footer {
    font-size: 14px;
    color: white;
}


table {
    width: 100%;
    border-spacing: 10px;
}

th {
    text-align: center;
}

th img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .main-content > div {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .main-content > div {
        width: 100%;
    }
}
